html, body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0;
  margin: 0;
}

ul#playlist {
  list-style-type: none;
  margin: 0.5em auto 5.5em;
  padding: 0;
  text-align: center;
}

#playlist li {
  display: inline-block;
  vertical-align: top;
  width: 8em;
  height: 10em;
  padding: 2.5px;
  margin: 2.5px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 1px #a1a1a1;
}

#playlist li:hover {
  box-shadow: 0px 0px 8px 1px #a1a1a1;
}

#playlist li:active {
  box-shadow: 0px 0px 3px 1px #a1a1a1 inset;
}

#playlist img {
  width: 7em;
  height: auto;
  margin: 5px;
}

#playlist p {
  padding: 0;
  margin: 2px 4px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #666;
}

.title {
  color: #333;
}

.album {
  color: #aaa;
  font-size: 60%;
}

footer {
  position: fixed;
  background-color: white;
  width: 100%;
  bottom: 0;
  min-height: 5em;
  box-shadow: 0px 0px 8px 1px #a1a1a1;
}

#controls {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#now-playing, #next-up {
  position: absolute;
  bottom: 0;
  margin: 0 6px;
  max-width: 35%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#now-playing h3, #next-up h3 {
  padding: 0;
  margin: 0;
}

#now-playing {
  left: 0;
}

#next-up {
  right: 0;
  text-align: right;
}

footer .title, footer .album {
  margin: 6px 0;
}

footer .cover {
  height: 4em;
  width: auto;
}
