<html>
    <head>
      <link rel="stylesheet" type="text/css" href="static/app.css">
    </head>
    <body>
        <div>
          <ul id="playlist"></ul>
          <a href="#control">Play/Pause</a>
        </div>
        <script type="text/javascript" src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="static/cast.js"></script>
        <script type="text/javascript" src="static/app.js"></script>
    </body>
</html>